# Text files should have CRLF line endings, even on non-Windows machines
* text=crlf

# Text files
.gitattributes text
.gitignore text
*.txt text
*.cs text
*.sln text
*.xml text
*.targets text
*.resx text
*.csproj text
