# Text files should have CRLF line endings, even on non-Windows machines
*.txt eol=crlf
*.sln eol=crlf
*.xml eol=crlf
*.config eol=crlf
*.targets eol=crlf
*.resx eol=crlf
*.csproj eol=crlf
*.settings eol=crlf

# C# code should have LF everywhere
*.cs eol=lf

# Java projects should have LF
*.java eol=lf
pom.xml eol=lf
