<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="Repox" value="https://repox.jfrog.io/artifactory/api/nuget/v3/nuget/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceCredentials>
    <Repox>
      <add key="Username" value="%ARTIFACTORY_USER%" />
      <add key="ClearTextPassword" value="%ARTIFACTORY_PASSWORD%" />
    </Repox>
  </packageSourceCredentials>
  <config>
    <add key="signatureValidationMode" value="require" />
  </config>
  <trustedSigners>
    <repository name="nuget.org" serviceIndex="https://api.nuget.org/v3/index.json">
      <!-- Subject Name: CN=NuGet.org Repository by Microsoft, valid from 2018-04-10 -->
      <certificate fingerprint="0E5F38F57DC1BCC806D8494F4F90FBCEDD988B46760709CBEEC6F4219AA6157D" hashAlgorithm="SHA256" allowUntrustedRoot="false" />
      <!-- Subject Name: CN=NuGet.org Repository by Microsoft, valid from 2021-02-16 -->
      <certificate fingerprint="5A2901D6ADA3D18260B9C6DFE2133C95D74B9EEF6AE0E5DC334C8454D1477DF4" hashAlgorithm="SHA256" allowUntrustedRoot="false" />
      <!-- Subject Name: CN=NuGet.org Repository by Microsoft, valid from 2024-02-23 -->
      <certificate fingerprint="1F4B311D9ACC115C8DC8018B5A49E00FCE6DA8E2855F9F014CA6F34570BC482D" hashAlgorithm="SHA256" allowUntrustedRoot="false" />
      <!-- sharwell = author of StyleCop.Analyzers -->
      <!-- test dependencies: -->
      <!-- meirb = Meir Blachman, author of FluentAssertions.Analyzers -->
      <!-- kzu = Daniel Cazzulino, author of MSBuild.StructuredLogger -->
      <!-- jonorossi = Jonathon Rossi, maintainer of Castle Project -->
      <!-- onovotny = Claire Novotny, author of Humanizer.Core -->
      <!-- jamesnk = James Newton-King, author of Newtonsoft.Json-->
      <!-- CycloneDX = see https://discuss.sonarsource.com/t/10337 -->
      <!-- grpc-packages = Grpc.Tools (gRPC and Protocol Buffer compiler) -->
      <!-- protobuf-packages = Google.Protobuf -->
      <!-- Nsubstitute = author of NSubstitute -->
      <!-- SharpDevelop = author of SharpZipLib -->
      <!-- sheyenrath = author of WireMock.Net -->
      <!-- xoofx = author of Scriban.Signed (required for WireMock.Net)-->
      <!-- rsuter = author of Namotion.Reflection, NSwag.Core, NJsonSchema (required for WireMock.Net)-->
      <!-- jdevillard = author of JmesPath.Net, JmesPath.Net.Parser (required for WireMock.Net)-->
      <!-- aaubry = author of YamlDotNet (required for WireMock.Net)-->
      <!-- moodmosaic = author of Fare (required for WireMock.Net)-->
      <!-- GSerjo = author of TinyMapper (required for WireMock.Net)-->
      <!-- Handlebars-Net = author of Handlebars-Net (required for WireMock.Net)-->
      <!-- SpringComp = author of Springcomp.GPPG.Runtime, Springcomp.GPLEX.Runtime (required for WireMock.Net)-->
      <owners>Microsoft;sharwell;meirb;dotnetfoundation;castleproject;jonorossi;onovotny;fluentassertions;jamesnk;CycloneDX;grpc-packages;protobuf-packages;NSubstitute;kzu;SharpDevelop;sheyenrath;xoofx;rsuter;jdevillard;aaubry;moodmosaic;GSerjo;Handlebars-Net;SpringComp</owners>
    </repository>
    <author name="Microsoft">
      <!-- Subject Name: CN=Microsoft Corporation, valid from 2023-07-27 -->
      <certificate fingerprint="566A31882BE208BE4422F7CFD66ED09F5D4524A5994F50CCC8B05EC0528C1353" hashAlgorithm="SHA256" allowUntrustedRoot="false" />
      <!-- Subject Name: CN=Microsoft Corporation, valid from: 2020-09-30 -->
      <certificate fingerprint="AA12DA22A49BCE7D5C1AE64CC1F3D892F150DA76140F210ABD2CBFFCA2C18A27" hashAlgorithm="SHA256" allowUntrustedRoot="false" />
    </author>
    <author name="SonarSource">
      <!-- Subject Name: CN=SonarSource SA, valid from 2023-10-17 -->
      <certificate fingerprint="A943C46DBA193D99C1135FFE33D3337524E9B3F05B416B9314E168CD206EF427" hashAlgorithm="SHA256" allowUntrustedRoot="false" />
    </author>
    <author name="James Newton-King">
      <certificate fingerprint="A3AF7AF11EBB8EF729D2D91548509717E7E0FF55A129ABC3AEAA8A6940267641" hashAlgorithm="SHA256" allowUntrustedRoot="false" />
    </author>
  </trustedSigners>
</configuration>
