<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="Repox" value="https://repox.jfrog.io/artifactory/api/nuget/v3/nuget/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceCredentials>
    <Repox>
      <add key="Username" value="%ARTIFACTORY_USER%" />
      <add key="ClearTextPassword" value="%ARTIFACTORY_PASSWORD%" />
    </Repox>
  </packageSourceCredentials>
  <config>
    <add key="signatureValidationMode" value="require" />
  </config>
  <trustedSigners>
    <repository name="nuget.org" serviceIndex="https://api.nuget.org/v3/index.json">
      <!-- Subject Name: CN=NuGet.org Repository by Microsoft, valid from 10/04/2018 -->
      <certificate fingerprint="0E5F38F57DC1BCC806D8494F4F90FBCEDD988B46760709CBEEC6F4219AA6157D" hashAlgorithm="SHA256" allowUntrustedRoot="false" />
      <!-- Subject Name: CN=NuGet.org Repository by Microsoft, valid from 16/02/2021 -->
      <certificate fingerprint="5A2901D6ADA3D18260B9C6DFE2133C95D74B9EEF6AE0E5DC334C8454D1477DF4" hashAlgorithm="SHA256" allowUntrustedRoot="false" />
      <!-- grpc-packages = Grpc.* -->
      <!-- protobuf-packages = Google.Protobuf -->
      <owners>Microsoft;grpc-packages;protobuf-packages;raboof;jamesnk</owners>
    </repository>
  </trustedSigners>
</configuration>
