# Mend documentation https://docs.mend.io/bundle/unified_agent/page/unified_agent_configuration_parameters.html

excludes=**/*sources.jar **/*javadoc.jar **/its/projects/** **/TestResults/**
resolveAllDependencies=False

#Include Scanner CLI
includes=build/**/*.jar
fileSystemScan=True
archiveExcludes=build/**/*.jar
archiveExtractionDepth=5

maven.aggregateModules=True
maven.downloadMissingDependencies=False
maven.resolveDependencies=True
maven.runPreStep=False

nuget.resolvePackagesConfigFiles=True
nuget.resolveDependencies=True
nuget.preferredEnvironment=nuget
nuget.runPreStep=True

wss.url=https://saas-eu.whitesourcesoftware.com/agent

forceUpdate=true
checkPolicies=true
forceUpdate.failBuildOnPolicyViolation=false
