<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.2" targetFramework="net45" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="3.13.5" targetFramework="net45" />
  <package id="Microsoft.TeamFoundationServer.Client" version="14.102.0" targetFramework="net45" />
  <package id="Microsoft.TeamFoundationServer.ExtendedClient" version="14.102.0" targetFramework="net45" />
  <package id="Microsoft.Tpl.Dataflow" version="4.5.24" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.Services.Client" version="14.102.0" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.Services.InteractiveClient" version="14.102.0" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.Setup.Configuration.Interop" version="1.14.114" targetFramework="net45" developmentDependency="true" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="1.7.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net45" />
  <package id="SonarAnalyzer.CSharp" version="6.6.0.3969" targetFramework="net45" developmentDependency="true" />
  <package id="System.IdentityModel.Tokens.Jwt" version="4.0.2.206221351" targetFramework="net45" />
  <package id="WindowsAzure.ServiceBus" version="3.3.2" targetFramework="net45" />
</packages>