<configuration>
  <runtime>
   <!-- Our custom tasks are built against MSBuild v4 (the oldest, lowest common denominator version that
        shipped as part of the .Net framework.
        
        The next version, v12.0, shipped with VS and requires .Net v4.5.1. We don't want to require our 
        users to have .Net 4.5.1 so we'll build against the older version. v12 is backwards compatible
        with v4 it's possible to combine both when running in TeamBuild as the correct binding redirects
        exist.
        
        However, we need to manually supply the binding redirects for the integration tests work correctly.
        The tests need to be built against (at least) version 12 since the FxCop tasks are built against
        version 12.
    -->
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Build" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="4.0.0.0-5.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Build.Framework" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="4.0.0.0-5.0.0.0" newVersion="12.0.0.0"/>
     </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Build.Engine" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="4.0.0.0-5.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
